* {
    margin: 0;
    padding: 0;
}

img {
    position:relative;
    margin:auto;
    width:600px;
    left:-100px;
}
div {
    min-height: 100%;
    position:absolute;
    overflow:hidden;
    display:flex;
    background-color: rgb(2, 2, 31);
}